/* Home */

position: relative;
width: 1512px;
height: 982px;

background: #FFFFFF;


/* Mask Group */

position: absolute;
width: 1512px;
height: 803px;
left: 0px;
top: 0px;



/* Rectangle 1 */

position: absolute;
width: 1512px;
height: 803px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* begina-kisembo--rMEwp6TMLs-unsplash 1 */

position: absolute;
width: 1512px;
height: 2016px;
left: 0px;
top: -506px;

background: url(begina-kisembo--rMEwp6TMLs-unsplash.jpg);


/* dac-duy-ktYb8VhiTUo-unsplash 1 */

position: absolute;
visibility: hidden;
width: 1512px;
height: 1310.84px;
left: 0px;
top: -148px;

background: url(dac-duy-ktYb8VhiTUo-unsplash);


/* Baycungban */

position: absolute;
width: 144.06px;
height: 22.13px;
left: 172.68px;
top: 48.46px;

background: #000000;


/* Rectangle 2 */

position: absolute;
width: 1512px;
height: 179px;
left: 229px;
top: 840px;

background: #F4F2F9;


/* instagram-4 1 */

position: absolute;
width: 18px;
height: 18px;
left: 1323px;
top: 923px;



/* Vector */

position: absolute;
left: 40.43%;
right: 40.43%;
top: 40.43%;
bottom: 40.43%;

background: #4D46FA;


/* Vector */

position: absolute;
left: 26.46%;
right: 26.46%;
top: 26.46%;
bottom: 26.46%;

background: #4D46FA;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4D46FA;


/* facebook-3 1 */

position: absolute;
width: 18px;
height: 18px;
left: 1295px;
top: 923px;



/* Layer 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Color */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* 01.Facebook */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4D46FA;


/* Rectangle 3 */

position: absolute;
width: 1230px;
height: 224px;
left: 141px;
top: 629px;

background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(77, 70, 250, 0.1);
border-radius: 12px;


/* One way / Round-trip */

position: absolute;
width: 140px;
height: 21px;
left: 201px;
top: 661px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;



/* Multi-city */

position: absolute;
width: 63px;
height: 21px;
left: 391px;
top: 661px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;



/* 02 Adult, 01 children */

position: absolute;
width: 134px;
height: 21px;
left: 504px;
top: 661px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #4D46FA;



/* Business Class */

position: absolute;
width: 98px;
height: 21px;
left: 701px;
top: 661px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;



/* Hello! */

position: absolute;
width: 184px;
height: 105px;
left: 171px;
top: 227px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 105px;
/* identical to box height */

color: #000000;



/* Where are */

position: absolute;
width: 340px;
height: 105px;
left: 171px;
top: 305px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 105px;
/* identical to box height */

color: #000000;



/* you flying to ... */

position: absolute;
width: 474px;
height: 109px;
left: 171px;
top: 383px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 105px;

color: #000000;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

position: absolute;
width: 453px;
height: 21px;
left: 529px;
top: 48px;



/* Promotion */

width: 75px;
height: 21px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Flight Schedule */

width: 112px;
height: 21px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* About us */

width: 64px;
height: 21px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Payment Guide */

width: 112px;
height: 21px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

position: absolute;
width: 118px;
height: 41px;
left: 1223px;
top: 38px;

background: #4D46FA;
border-radius: 12px;


/* Booking now */

width: 86px;
height: 21px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 4 */

position: absolute;
width: 24px;
height: 24px;
left: 171px;
top: 659px;

background: #F4F2F9;
border-radius: 100px;


/* Rectangle 5 */

position: absolute;
width: 24px;
height: 24px;
left: 361px;
top: 659px;

background: #4D46FA;
border-radius: 100px;


/* Rectangle 9 */

position: absolute;
width: 12px;
height: 12px;
left: 367px;
top: 665px;

background: #FFFFFF;
border-radius: 100px;


/* Vector 1 */

position: absolute;
width: 8px;
height: 4px;
left: 643px;
top: 670px;

background: #4D46FA;
border-radius: 0.5px;


/* Vector 2 */

position: absolute;
width: 8px;
height: 4px;
left: 804px;
top: 670px;

background: #4D46FA;
border-radius: 0.5px;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 300px;
height: 100px;
left: 171px;
top: 703px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);


/* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 300px;
height: 100px;
left: 171px;
top: 703px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* Rectangle 7 */

position: absolute;
width: 60px;
height: 60px;
left: 451px;
top: 723px;

background: #C4C4C4;
border-radius: 100px;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 300px;
height: 100px;
left: 791px;
top: 703px;

background: #FFFFFF;
border: 2px solid #4D46FA;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 300px;
height: 100px;
left: 791px;
top: 703px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 12px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 7 */

position: absolute;
width: 60px;
height: 60px;
left: 511px;
top: 723px;

background: #C4C4C4;
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 530px;
height: 100px;
left: 1341px;
top: 703px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 12px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* calendar-3 1 */

position: absolute;
width: 14px;
height: 14px;
left: 1021px;
top: 746px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4D46FA;


/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 71.09%;
bottom: 21.09%;



/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 71.09%;
bottom: 21.09%;



/* Vector */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 71.09%;
bottom: 21.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 71.09%;
bottom: 21.09%;



/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 71.09%;
bottom: 21.09%;



/* Vector */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 71.09%;
bottom: 21.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 71.09%;
bottom: 21.09%;



/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 71.09%;
bottom: 21.09%;



/* Vector */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 71.09%;
bottom: 21.09%;

background: #4D46FA;


/* calendar-3 2 */

position: absolute;
width: 14px;
height: 14px;
left: 1286px;
top: 746px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4D46FA;


/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 71.09%;
bottom: 21.09%;



/* Group */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 71.09%;
bottom: 21.09%;



/* Vector */

position: absolute;
left: 20.51%;
right: 71.68%;
top: 71.09%;
bottom: 21.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 37.11%;
bottom: 55.08%;



/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 37.11%;
bottom: 55.08%;



/* Vector */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 37.11%;
bottom: 55.08%;

background: #4D46FA;


/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 71.09%;
bottom: 21.09%;



/* Group */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 71.09%;
bottom: 21.09%;



/* Vector */

position: absolute;
left: 37.5%;
right: 54.69%;
top: 71.09%;
bottom: 21.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 54.1%;
bottom: 38.09%;



/* Group */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 54.1%;
bottom: 38.09%;



/* Vector */

position: absolute;
left: 71.48%;
right: 20.7%;
top: 54.1%;
bottom: 38.09%;

background: #4D46FA;


/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 71.09%;
bottom: 21.09%;



/* Group */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 71.09%;
bottom: 21.09%;



/* Vector */

position: absolute;
left: 54.49%;
right: 37.7%;
top: 71.09%;
bottom: 21.09%;

background: #4D46FA;


/* From */

position: absolute;
width: 38px;
height: 18px;
left: 191px;
top: 718px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

opacity: 0.5;


/* Call us: +84 908 02 02 58 */

position: absolute;
width: 195px;
height: 21px;
left: 194px;
top: 921px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.1em;

color: #000000;



/* Email: chucinog@gmail.com */

position: absolute;
width: 221px;
height: 21px;
left: 442px;
top: 921px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.1em;

color: #000000;



/* email-4 1 */

position: absolute;
width: 18px;
height: 18px;
left: 419px;
top: 923px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4D46FA;


/* Follow us */

position: absolute;
width: 72px;
height: 21px;
left: 1163px;
top: 921px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.1em;

color: #000000;



/* TO */

position: absolute;
width: 18px;
height: 18px;
left: 531px;
top: 718px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

opacity: 0.5;


/* Departure */

position: absolute;
width: 76px;
height: 18px;
left: 831px;
top: 718px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

opacity: 0.5;


/* return */

position: absolute;
width: 51px;
height: 18px;
left: 1096px;
top: 718px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

opacity: 0.5;


/* Quang Nam, Viet Nam */

position: absolute;
width: 147px;
height: 21px;
left: 191px;
top: 770px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;



/* Viet Nam */

position: absolute;
width: 61px;
height: 21px;
left: 531px;
top: 770px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;



/* Prev */

position: absolute;
width: 29px;
height: 21px;
left: 831px;
top: 767px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;



/* Prev */

position: absolute;
width: 29px;
height: 21px;
left: 1096px;
top: 770px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;

opacity: 0.4;


/* Next */

position: absolute;
width: 31px;
height: 21px;
left: 879px;
top: 770px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;

opacity: 0.4;


/* Next */

position: absolute;
width: 31px;
height: 21px;
left: 1144px;
top: 770px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #000000;

opacity: 0.4;


/* Da Nang */

position: absolute;
width: 100px;
height: 36px;
left: 191px;
top: 735px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #4D46FA;



/* Ho Chi Minh */

position: absolute;
width: 135px;
height: 36px;
left: 531px;
top: 735px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #4D46FA;



/* Fri, 22 Mar, 2022 */

position: absolute;
width: 180px;
height: 36px;
left: 831px;
top: 735px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #4D46FA;



/* Fri, 22 Mar, 2022 */

position: absolute;
width: 180px;
height: 36px;
left: 1096px;
top: 735px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #4D46FA;



/* Line 1 */

position: absolute;
width: 37px;
height: 0px;
left: 827px;
top: 790px;

border: 1px solid #000000;


/* Frame 2 */

position: absolute;
width: 25.18px;
height: 14px;
left: 468px;
top: 746px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 30.37%;
top: 0%;
bottom: 47.57%;

background: #000000;


/* Vector */

position: absolute;
left: 30.37%;
right: 0%;
top: 47.57%;
bottom: 0%;

background: #000000;


/* Group 1 */

position: absolute;
width: 245px;
height: 60px;
left: 1096px;
top: 823px;



/* Rectangle 8 */

position: absolute;
width: 245px;
height: 60px;
left: 1096px;
top: 823px;

background: #4D46FA;
border-radius: 12px;


/* Search Flights */

position: absolute;
width: 121px;
height: 27px;
left: 1116px;
top: 840px;

font-family: 'SVN-Biennale';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;



/* Vector 3 */

position: absolute;
width: 22px;
height: 12px;
left: 1299px;
top: 847px;

border: 1px solid #FFFFFF;
border-radius: 0.5px;


/* Line 2 */

position: absolute;
width: 40px;
height: 0px;
left: 1245px;
top: 932px;

border: 1px solid #000000;


/* Group */

position: absolute;
left: 11.31%;
right: 87.5%;
top: 93.99%;
bottom: 4.18%;



/* Vector */

position: absolute;
left: 11.31%;
right: 87.5%;
top: 93.99%;
bottom: 4.18%;

background: #4D46FA;


/* united-states 1 */

position: absolute;
width: 20px;
height: 20px;
left: 361px;
top: 48px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F0F0F0;


/* Group */

position: absolute;
left: 1.72%;
right: 0%;
top: 10.87%;
bottom: 0%;



/* Vector */

position: absolute;
left: 47.83%;
right: 0%;
top: 36.96%;
bottom: 50%;

background: #D80027;


/* Vector */

position: absolute;
left: 47.83%;
right: 7.34%;
top: 10.87%;
bottom: 76.09%;

background: #D80027;


/* Vector */

position: absolute;
left: 18.88%;
right: 18.88%;
top: 89.13%;
bottom: 0%;

background: #D80027;


/* Vector */

position: absolute;
left: 1.72%;
right: 1.72%;
top: 63.04%;
bottom: 23.91%;

background: #D80027;


/* Vector */

position: absolute;
left: 0%;
right: 50%;
top: 0%;
bottom: 50%;

background: #0052B4;


/* Rectangle 39 */

position: absolute;
width: 24px;
height: 24px;
left: 329px;
top: 46px;

background: #4D46FA;
border-radius: 100px;


/* vietnam 1 */

position: absolute;
width: 20px;
height: 20px;
left: 331px;
top: 48px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D80027;


/* Vector */

position: absolute;
left: 27.14%;
right: 27.14%;
top: 26.09%;
bottom: 30.43%;

background: #FFDA44;
